################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaxiRides/AzureDataLakeTaxis/.vs/AzureDataLakeTaxis/v15/Server/sqlite3
